#wrapper{
  width:100%;
  margin:auto;
}

nav{
  width:22%;
  float:left;
  padding:10px;
  background-color: #FFFAF3;
}

#mainContent{
  width:50%;
  float:left;
  border: 4px solid;
  border-color: #52637B;
  padding:10px;
}

#rightSidebar {
  width: 22%;
  float:left;
  padding:10px;
  background-color: #FFFAF3;
}

header{
  background-color: #52637B;
  text-align: center;
  font-family: Lora;
}
